<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="assets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>A Dos Santos Barbearia</title>
</head>
<body>
    <div class='top style1'>
        <p class="uppercase bold font-size1">Este curso vai transformar você em um barbeiro profissional em apenas 12 aulas presenciais.</p>
        <div class="subtop">
            <p class="font-size2">Inscreva-se agora mesmo e aprenda todos os segredos da barbearia do absoluto zero.</p>
        </div>
    </div>
    <div class="arguments style2">
        <span class="flex-fill subscribespan boxshadow">
            <a href="/subscribe" class="subscribebtn boxshadow"> Quero me inscrever agora!</a>
        </span>
        <p class="argumentsheader font-size1 bold uppercase">Este Curso é para mim?</p>
        <p class="argumentsline font-size2"> <span class="bold">SIM! Este curso é para você.</span> Aqui você aprenderá a se 
            tornar um <span class="bold">barbeiro de sucesso,</span> mesmo sem <span class="bold">nunca ter pego em uma tesoura.</span></p>
        <div class="box boxshadow font-size1">
            <p>No Brasil, o mercado de barbearias segue a todo vapor e, se depender do empenho de seus empreendedores, a chance é de mais crescimento nos próximos anos.
            Segundo relatório da agência Euromonitor, o consumo no mercado brasileiro de beleza masculina cresceu 70% entre 2012 e 2017, chegando a uma arrecadação de 
            R$ 19,8 bilhões. Seguindo esse ritmo, o Brasil chegará a R$ 26 bilhões em 2021, ultrapassando os Estados Unidos como líder global no segmento.</p>
        </div>
        <p class="argumentsheader bold uppercase font-size1">O mercado de barbearias está em constante crescimento no Brasil</p>
        <p class="argumentsline font-size2">Conquiste sua independência financeira, flexibilização de horários e autonomia. Aprenda cortar cabelos com técnicas fáceis e oferecendo o melhor atendimento
        ao seu cliente</p>
    </div>
    <div class="infos style1">
        <p class="infosheader bold uppercase font-size1">O que irei aprender no curso barbeiro iniciante?</p>
        <div class="d-flex justify-content-center">
            <p class="apptag shadow font-size3">Serão 12 aulas que vão te ensinar desde o</p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="apptag shadow font-size3">atendimento ao cliente, até a finalização do corte.</p>
        </div>
        <div class="icons d-flex flex-wrap justify-content-center p-4">
            <div class="icons-boxes">
                <embed src="/assets/img/icons/noun_Barber_2383590.svg" class="svg" alt="">
                <div>
                    <p>Ergonomia e postura de trabalho</p>
                </div>
                <p>Você irá aprender a forma de segurar uma tesoura, máquina e navalhete. Assim evitando possíveis lesões.</p>
            </div>
            <div class="icons-boxes">
                <embed src=/assets/img/icons/noun_Barber_1984721.svg class="svg" alt="">
                <div>
                    <p>Corte com máquina</p>
                </div>
                <p>Aprenda cortes como: corte social, moderno, acabamento e finalização.</p>     
            </div>
            <div class="icons-boxes">
                <embed src="/assets/img/icons/noun_Barber_2746983.svg" class="svg" alt="">
                <div>
                    <p>Corte na tesoura</p>
                </div>
                <p>Desenvolva técnicas como corte social só na tesoura, acabemento e finalização.</p>    
            </div>
            <div class="icons-boxes">
                <embed src="/assets/img/icons/noun_Barber_3762248.svg" class="svg" alt="">
                <div>
                    <p>Degradê</p>
                </div>
                <p>Domine o skin fade, taper fade, disfarçados e pequenos detalhes.</p>    
            </div>
            <div class="icons-boxes">
                <embed src="/assets/img/icons/noun_Barber_2901004.svg" class="svg" alt="">
                <div>
                    <p>Barba</p>
                </div>
                <p>Aprenda todos os segredos da barba curta, média, cavanhaque, alinhamentos, como tirar toda a barba e barba na toalha quente.</p>    
            </div>
            <div class="icons-boxes">
                <embed src="/assets/img/icons/chair.svg" class="svg" alt="">
                <div>
                    <p>Atendimento ao cliente</p>
                </div>
                <p>Aprenda corretamente formas de atendimento, postura profissional e formas de venda de serviços e produtos.</p>    
            </div>
        </div>
    </div>
    <div class="d-flex about style2">
        <img class="rafa boxshadow" src="/assets/img/3.png" alt="">
        <div>
            <p class="uppercase bold font-size1">Quem é</p>
            <p class="uppercase bold font-size1">Rafael Garcia?</p>
            <p class="font-size3">Durante 14 anos trabalhei na indústria 
                moveleira, atuando na área de almoxarifado. Sem perspectiva de crescimento ou evolução profissional e em uma fase de descontentamento com a fábrica, surgiu a barbearia na minha 
                vida. </p>
            <p class="font-size3">Jamais me imaginei cortando cabelo, mas posso dizer que foi amor à primeira vista, foi uma identificação muito grande, e assim iniciou a minha jornada. 
                Não foi uma decisão fácil, trocar o emprego de carteira assinada e salário fixo pela prestação de serviço. </p>
            <p class="font-size3">Foram anos difíceis, de erros e acertos, mas hoje posso me considerar um vencedor, em apenas 4 anos de profissão conquistei a minha barbearia dos 
                    sonhos, independência financeira e a flexibilidade que a profissão de autônomo me proporciona permitindo acompanhar o crescimento do meu filho recém nascido de perto, coisa 
                    que eu jamais conseguiria em um emprego formal com carteira assinada como tinha antes.</p>
            <p class="font-size3">Eu conquistei meu sucesso profissional, e agora é a sua vez, estou aqui para te ajudar a aprender com meus erros, conhecer meus acertos e te indicar todos 
                    os atalhos que aprendi nesta jornada, para que, em tempo recorde, você também conquiste sua barbearia dos sonhos! Vamos nessa?</p>
        </div>
    </div>
    <div class="style1 text-center warranty bold font-size2">
        <img src="/assets/img/5.png" alt="">
        <p class="font-size3">É muito chato quando compramos algo sem a segurança de ter um retorno garantido não é mesmo? Fique Tranquilo, aqui 
            se o curso não satisfazer suas espectativas, você tem 7 dias para pedir o seu dinheiro de volta.</p>
    </div>
    <div class="call-to-action">
        <p class="bold uppercase font-size2"> Aproveite Agora</p>
        <p class="uppercase font-size2"> Promoção de Lançamento</p>
        <p class="font-size2"> 12x<span class="font-size2">de</span><span class="bold">R$199,70</span></p>
        <p class="font-size2">R$1997,00 à vista</p>
            <a href="/subscribe" class="subscribebtn boxshadow"> Quero me inscrever agora!</a>
    </div>
    <div class="contact style2 font-size1">
        <p class="uppercase ">Restou Alguma dúvida? <span class="bold">Fale diretamente comigo!</span></p>
        <div class="whatsapp">
            <a href="/contact" class=" font-size3 boxshadow">
                    <i class="fab fa-whatsapp"></i> +55 17 99622-2349
                </button>
            </a>
        </div>
    </div>  
    <script src="https://kit.fontawesome.com/28c6ab9790.js" crossorigin="anonymous"></script>
</body>
</html>