<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/28c6ab9790.js" crossorigin="anonymous"></script>
    <title>A Dos Santos Barbearia</title>
</head>
<body>
    <div class='topo'>
        <h1>Este curso vai transformar você em um barbeiro profissional em apenas 12 aulas.</h1>
        <h2>Inscreva-se agora mesmo e aprenda todos os segredos da barbearia do absoluto zero.</h2>
    </div>
    <div class='tag'>Quero me inscrever agora!</div>
    <div class="argumentos">
        <h1>Este Curso é para mim?</h1>
        <p>Se você já atua como barbeiro ou pretente começar a atuar, <span class="destaque">este curso é para você.</span></p>
        <p>Aqui você aprenderá a se tornar um <span class="destaque">barbeiro de sucesso,</span> mesmo sem <span class="destaque">nunca ter pego eem uma tesoura.</span></p>
    </div>
    <div class="infos">
        <h1>O que irei aprender no curso barbeiro iniciante?</h1>
        <p class="tag">Serão 12 aulas que vão te ensinar desde o atendimento ao cliente, até a finalização do corte</p>
        <div>
            <img src="https://placekitten.com/180/180" alt="">
            <p>Ergonomia e postura de trabalho</p>
            <p>Você irá aprender a forma de segurar uma tesoura, máquina e navalhete. Assim evitando possíveis lesões.</p>
            <img src="https://placekitten.com/180/180" alt="">
            <p>Corte com máquina</p>
            <p>Aprenda cortes como: corte social, moderno, acabamento e finalização.</p>
            <img src="https://placekitten.com/180/180" alt="">
            <p>Corte na tesoura</p>
            <p>Desenvolva técnicas como corte social só na tesoura, acabemento e finalização.</p>
            <img src="https://placekitten.com/180/180" alt="">
            <p>Degradê</p>
            <p>Domine o skin fade, taper fade, disfarçados e pequenos detalhes.</p>
            <img src="https://placekitten.com/180/180" alt="">
            <p>Barba</p>
            <p>Aprenda todos os segredos da barba curta, média, cavanhaque, alinhamentos, como tirar toda a barba e barba na toalha quente.</p>
            <img src="https://placekitten.com/180/180" alt="">
            <p>Atendimento ao cliente</p>
            <p>Aprenda corretamente formas de atendimento, postura profissional e formas de venda de serviços e produtos.</p>
        </div>
    </div>
    <div class="sobre">
        <h1>Quem é Rafael Garcia?</h1>
        <p>Tenho 34 anos, sou barbeiro profissional à 4 anos e proprietário da Dos Santos Barbearia, localizada em Votuporanga-SP. Percebendo que o homem está cada vez 
            mais a procura não só do simples corte decabelo, mas sim de uma verdadeira experiência na barbearia, com esse curso, quero te ensinar técnicas e segredos 
            que desenvolvi ao longo desses 4 anos de carreira.</p>
    </div>
    <div class="garantia">
        <p>É muito hato quando compramos algo sem a segurança de ter um <span class="destaque">retorno garantido</span>Não é mesmo? Fique Tranquilo, aqi se o curso não
        satisfazer suas espectativas, você tem <span class="destaque">7 dias para pedir o seu dinheiro de volta.</span></p>
    </div>
    <div>
        <h1>Aproveite Agora
            <br> Promoção de Lançamento
        </h1>
        <h1>12xde <span class="destaque">R$200,00</span></h1>
        <h1>R$1797,00 à vista</h1>
        <div class='tag'>Quero me inscrever agora!</div>
        <h2>Restou Alguma dúvida? <span class="destaque">Fale diretamente comigo!</span></h2>
        <div class="contato"><p><i class="fab fa-whatsapp"></i> +55 17 99622-2349</div></p>
    </div>
</body>
</html>