/* Hexa for colors

Brown: #5e2d0c
Salmon: #d4b29b
Green: #2cbda5
White: #f5f5f5

*/

* { 
    padding: 0px;
    border: 0px;
    font-family: Calibri;
}

body {
    text-align: center;
    background-color: #f5f5f5 !important;
    text-align: center;
    color: #5e2d0c;
}


.style1{
    background-color: #5e2d0c;
    color: #f5f5f5;
    padding: 40px 20%;
}

.style2{
    padding: 40px 20%;
    color: #5e2d0c;
    background-color: transparent;
}

.top{
    background-image: url(/assets/img/bg1.png);
    background-size: cover;
}

.font-size1{
    font-size: 4rem;
    line-height: 120%;
}

.font-size2{
    font-size: 3rem;
    line-height: 110%;
}


.font-size3{
    font-size: 2rem;
    line-height: 110%;
}

.subtop{
    margin-top: 50px;
    margin-bottom: 50px;
}
.arguments {
    margin-top: -120px;
    padding: 100px 20%;
}
.subscribebtn {
    font-size: 1.5rem;
    padding: 10px !important;
    font-weight: bold !important;
    color: #5e2d0c !important;
    text-transform: uppercase !important;
    background-color: #d4b29b !important;
    border-color: #d4b29b !important;
    margin: 100px 0px;
    text-decoration: none;
    border-radius: 5px;
}

.argumentsheader{
    padding: 5% !important;
    margin-bottom: 16px !important;
}

.argumentsline{
    padding: 0px 20px;
    margin: 0;
}

.box{   
   text-align: center;
   margin: 50px 30px 30px 30px !important;
   color: black;
   padding: 10px 10px 5px 10px !important;
}

.infos{
    background-image: url(/assets/img/bg2.png);
    background-size: cover;
}

.infosheader{
    text-align: center;
    padding: 50px 0px;
}
.apptag{
    background-color: #d4b29b;
    color: #5e2d0c !important;
    border-radius: 5px;
    text-align: center;
    padding: 0px 5px;
    margin: 0.25%;
}

.icons{
    max-width: 90%;
    margin: auto;
}

.icons > div{
    flex: 1 1 33%;
    padding-left: 10px;
    padding-right: 10px;
}

.icons-boxes > :nth-child(2){
    height: 30px;
    font-size: 2rem;
    color: #d4b29b;
    line-height: 100%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0 75px 0;
}

.icons-boxes > :nth-child(3) {
    font-size: 1.5rem;
    color: #f5f5f5;
    line-height: 100%;
}

.svg {
    width: 200px;
    height: 200px;
    filter: invert(95%);
    }
.about {
    padding: 0 15%;
    margin-bottom: 100px;
}
.about > :nth-child(1){
    display: block;
    max-width: 25vw;
    max-height: 25vw;
    width: auto;
    height: auto;
    margin: auto 2vw auto 7vw;
    padding: 0;
    transform: rotate(-2deg);
    border: 1vh solid white;
}

.about > div {
    margin-top: 100px;
    margin-right: 15%;
    color: #5e2d0c;
    
}

.about > div > p {
    text-align: left;
}
.about > div > :nth-child(1) {
    margin-bottom: 0;
}

.about > div > :nth-child(3) {

    margin-top: 3vw;
    margin-bottom: 20px;
}



.warranty-images > :nth-child(1){
    display: block;
    max-width: 25vw;
    max-height: 25vw;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
}


.warranty {
    padding: 0vw 0vw 6vw 0vw;
    font-size: 0.75rem;
    background-image: url(/assets/img/bg3.png);
    background-size: cover;
}

.warranty > img {
    width: 25vw;
    height: auto;
    margin: 5vw auto;
}
.warranty > p {
    margin-bottom: 0px;
    font-size: 2rem;
    padding: 0 25%;
}

.call-to-action {
    padding-top: 5vw;
    color: #5e2d0c;
}

.call-to-action > :nth-child(1){
    font-size: 7rem;
    margin-bottom: 0;
    line-height: 100%;

}

.call-to-action > :nth-child(2){
    font-size: 5rem;
    margin-bottom: 0;
    line-height: 100%;

}

.call-to-action :nth-child(3){
    margin: 1% 0%;
    font-size: 5rem;

}
.call-to-action :nth-child(4){
    margin: 50px 0%;
    font-size: 4rem;

}

.contact{
    margin-top: 40px;
    font-size: 4rem;
    color: #5e2d0c;
    margin-bottom: 150px;
}

.whatsapp {
    margin-top: 100px;
}

.whatsapp > a {
    background-color: #2cbda5;
    border-color: #2cbda5;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px;
   
}

.whatsapp > a:hover, a:visited, a:focus, a:visited {
    color: #f5f5f5;
}   


.boxshadow{
    -webkit-box-shadow: -2px 2px 5px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow:    -2px 2px 5px 0px rgba(50, 50, 50, 0.35);
    box-shadow:         -2px 2px 5px 0px rgba(50, 50, 50, 0.35);
}

.uppercase{
    text-transform: uppercase;
}

.bold{
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    .style1{
        padding: 40px 10%;
    }
    .style2{
        padding: 40px 10%;
    }
    .font-size1{
        font-size: 2rem;
        line-height: 120%;
    }
    
    .font-size2{
        font-size: 1rem;
        line-height: 110%;
    }
    
    .font-size3{
        font-size: 0.85rem;
        line-height: 110%;
    }
    .arguments{
        margin-top: -50px;
    }
    .subscribebtn {
        font-size: 0.9rem;
    }
    .argumentsheader{
        margin-top: 50px;
    }
    .box {
        display: none;
    }
    .icons-boxes{
        margin-top: 50px;
    }
    .about{
        margin: 0;
    } 
    .about >div {
        margin: 0;
    }
    .about > :nth-child(1){
        display:none;
    }

    .warranty > img{
        width: 200px;
    }

    .warranty > p {
        padding: 0px;
    }
    .call-to-action > :nth-child(1) {
        font-size: 2rem;
        margin-bottom: 0;
        line-height: 100%;
    }
    .call-to-action > :nth-child(2) {
        font-size: 2rem;
        margin-bottom: 0;
        line-height: 100%;
    }
    .call-to-action :nth-child(3) {
        margin: 3% 0%;
        font-size: 3rem;
    }
    .call-to-action :nth-child(4) {
        margin: 50px 0%;
        font-size: 2rem;
}